.container-3w7J-x,
.container-3baos1,
.panels-j1Uci_ {
    background-color: var(--primary);
}
.children-19S4PO {
    background-color: var(--tertiary);
}
.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n {
    background-color: var(--accent-alpha);
}