.closeButton-1tv5uR,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.option-n0icdO {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}
.disabledIcon-9QatvX {
    color: var(--secondary);
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    color: var(--secondary-alpha);
}
.closeButton-1tv5uR:hover,
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--accent-alpha) !important;
    border-color: #fff !important;
}
.card-FDVird:before,
.notDetected-33MY4s {
    background-color: var(--tertiary) !important;
    border-color: var(--tertiary) !important;
}
.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o .sliderBar-3DezvM,
.bar-2Qqk5Z {
    background-color: var(--tertiary) !important;
}
.barFill-23-gu-,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.selected-mKYnfr.option-n0icdO,
.checkbox-1ix_J3 {
    background-color: var(--accent) !important;
}
.wrapper-3jrx9n,
.checkbox-1ix_J3 {
    border-color: var(--accent) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--accent-dark);
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--accent-light);
}
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
    background-color: #69c49a !important;
}
.notDetected-33MY4s .gameName-1RiWHm {
    color:#fff !important;
}
.connectionHeader-2MDqhu {
    border-radius: 8px;
}