.scroller-1JbKMe,
.resultFocused-3aIoYe,
.peopleList-3c4jOR,
.tabBody-3YRQ8W,
.privateChannels-1nO12o,
.container-1D34oG {
    background-color: var(--primary) !important;
}
.section-2gLsgF {
    background-color: var(--tertiary);
}
.selected-aXhQR6 .layout-2DM8Md,
.layout-2DM8Md:hover {
    background-color: var(--accent-alpha) !important;
}
.colorDefault-2K3EoJ.focused-3afm-j,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--accent);
}