.container-1D34oG,
.nowPlayingColumn-2sl4cE,
.privateChannels-1nO12o {
    border-radius: 8px !important;
}
.container-1D34oG,
.tabBody-3YRQ8W {
    margin-bottom: 10px;
}
.container-1D34oG,
.nowPlayingColumn-2sl4cE {
    margin-right: 10px;
}
.tabBody-3YRQ8W {
    padding-top: 10px;
}