/* SIDEBAR */
.sidebar-2K8pFh,
.container-3w7J-x,
.children-19S4PO {
    border-radius: 8px !important;
}
.sidebar-2K8pFh {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 57px;
}
.container-3w7J-x {
    background-color: var(--primary);
}
.app-1q1i1E{margin-left:10px;}
.children-19S4PO{
    position:relative;
    padding:5px 5px 5px 5px;
    margin-right:40px;
    background-color: var(--tertiary);
}
.content-1x5b-n {
    border-radius: 50px;
}
.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n {
    background-color: var(--accent-alpha);
}

/* DMS */
.scroller-1JbKMe,
.resultFocused-3aIoYe,
.peopleList-3c4jOR,
.tabBody-3YRQ8W,
.privateChannels-1nO12o,
.container-1D34o {
    background-color: var(--primary) !important;
}
.container-1D34oG,
.tabBody-3YRQ8W {
    margin-bottom: 10px;
}
.container-1D34oG,
.nowPlayingColumn-2sl4cE {
    margin-right: 10px;
}
.tabBody-3YRQ8W {
    padding-top: 10px;
}
.container-1D34oG,
.nowPlayingColumn-2sl4cE,
.privateChannels-1nO12o {
    border-radius: 8px !important;
}
.section-2gLsgF {
    background-color: var(--tertiary);
}
.selected-aXhQR6 .layout-2DM8Md {
    background-color: var(--accent-alpha);
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--accent);
}

/* USER SETTINGS AND ETC */
.container-3baos1 { 
    height:47px;
    background-color: var(--primary);
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left:10px;
    width:225px;
}
.closeButton-1tv5uR,
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    color: var(--secondary-alpha);
}
.closeButton-1tv5uR:hover,
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--accent-alpha) !important;
    border-color: var(--secondary-alpha) !important;
}
.card-FDVird:before,
.notDetected-33MY4s {
    background-color: var(--tertiary) !important;
    border-color: var(--tertiary) !important;
}
.container-3auIfb,
.input-rwLH4i {
    background-color: var(--tertiary) !important;
}
.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o .sliderBar-3DezvM,
.bar-2Qqk5Z {
    background-color: var(--tertiary-alpha) !important;
}
.barFill-23-gu-,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--accent);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--accent-alpha);
}
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
    background-color: #69c49a !important;
}

/* SERVERLIST */
.members-1998pB{
    border-radius:8px;
    margin-right:10px;
}

/* MEMBERLIST */
.membersWrap-2h-GB4{
    margin-bottom:10px;
    margin-top:10px;
}
.members-1998pB,
.members-1998pB>div {
    background-color: var(--tertiary);
}

/* CHAT */
.chat-3bRxxu {
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.mentioned-xhSam7 {
    background-color: var(--mention-color)
}
.mouse-mode.full-motion .mentioned-xhSam7:hover {
    background-color: var(--mention-color-alt2)
}
.mentioned-xhSam7::before {
    background-color: var(--mention-color-alt);
}
.autocomplete-1vrmpx {
    background-color: var(--secondary) !important;
}
.selected-1Tbx07 {
    background-color: var(--tertiary) !important;
}
.newMessagesBar-265mhP {
    background-color: var(--accent);
}

/* TEXTBAR */
.channelTextArea-rNsIhG {
    margin-bottom: 15px;
}
.typing-2GQL18 {
    height: 12px;
}
.base-gE7OpD {
    position: relative;
    bottom: 13px;
    left:0px;
    font-size: 11px;
}
.scrollableContainer-2NUZem {
    background-color: var(--secondary);
}
.base-gE7OpD .slowModeIcon-1BPDC_ {
    position: relative;
    height: 10px;
    bottom: 0.75px;
}
 /* HEADER */
.children-19S4PO:after {
    background:none !important;
}
.title-29uC1r {
    color:#ffffff;
}

/* SEARCHBAR */
.option-96V44q.selected-rZcOL-,
.option-96V44q.selected-rZcOL-:after {
    background: var(--tertiary);
}
/* CHANNEL SETTINGS */
.elevationHigh-1PneE4,
.focused-2bY0OD {
    background-color: var(--secondary) !important;
}

/* MISC */
.username-1A8OIy,
.name-1jkAdW,
.tierTooltipTitle-3AtaZT { /* usernames are white */
    color: #ffffff;
}
.searchAnswer-3Dz2-q,
.searchFilter-2ESiM3 { /* seach hover is tertiary */
    background:var(--tertiary) !important;
}
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before,
.mediaBarPreview-1jfyFs,
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before,
.lookFilled-1Gx00P.colorPrimary-3b3xI6 { /* video bar is accent */
    background-color: var(--accent) !important;
}

/* SPOTIFY */
.powercord-spotify .spotify-seek-elements {
    padding-top: 10px !important;
}

/* BAR MENTIONS */
.mentionsBadge-3tC7Mi {
    padding-left: 11px;
}
.mentionsBadge-3tC7Mi .base-PmTxvP {
    width:var(--ping-width) !important;
    min-height: 1px !important;
    height: 5px !important;
}
.mentionsBadge-3tC7Mi .numberBadge-2s8kKX{
    font-size: 14px;
    text-align: left;
    text-indent:calc(var(--ping-width)-26px);
}